<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529255095699-2bfm117ni053lah4dfj01v1cjoveo4fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529255095699-2bfm117ni053lah4dfj01v1cjoveo4fb</string>
	<key>API_KEY</key>
	<string>AIzaSyBAdve9ymX1gabQeS0lBThpCkezRblU_Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>529255095699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adem.dizdaroglu.TakasMobil00</string>
	<key>PROJECT_ID</key>
	<string>takasmobil</string>
	<key>STORAGE_BUCKET</key>
	<string>takasmobil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529255095699:ios:19b3085ef60e12ccae9c66</string>
</dict>
</plist>